<!DOCTYPE html>
<html>
<head>
    <title>Smart Expense Tracker</title>
</head>

<body>

    <h1>Smart Expense Tracker</h1>

    <h2>Add Expense</h2>

    <form>
        <label>Amount:</label>
        <input type="number" name="amount"><br><br>

        <label>Category:</label>
        <input type="text" name="category"><br><br>

        <label>Description:</label>
        <input type="text" name="description"><br><br>

        <button type="submit">Add Expense</button>
    </form>

</body>
</html>
